/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов 
на этом сайте нужно, чтобы в HTML некоторые классы 
были названы особым образом:
✦ !like-icon — для svg-иконки анимированного сердца
✦ !card__like-button — для кнопки Like рядом с иконкой
✦ !card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ !button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font), Arial, sans-serif;
  background-image: var(--page-background);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-text-wght);
}

.decor {
  margin: 0 auto;
  border: 2px solid black;
  inline-size: var(--inline-size);
  background-color: rgba(255, 255, 255, 1);
}

.header {
  display: grid;
  place-items: center;
  align-content: center;
  gap: 20px;
  block-size: var(--block-size);
  margin-top: 100px;
  margin-bottom: 100px;
}
.header__title {
  font-family: var(--accent-font), Arial, sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);

  text-transform: uppercase;
}

.header__description {
  font-family: var(--accent-font), Arial, sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.card {
  margin-bottom: 50px;
}

.card__title {
  border-bottom: 2px solid black;
  font-variation-settings: "wght" var(--main-font-title-wght);
  font-size: 18px;
  padding: 5px 20px 3px 10px;
}

.card__image {
 height: clamp(
  375px,
  calc(375px + (100vw - 375px) * 321 / 1065),
  696px
)}

.card__image-items {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.icons {
  display: flex;

justify-content: end;
margin: 25px 25px 22px 0;
}


.card__text {
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  padding: 23px 25px 0 25px;
  line-height: 1.17;
}

.card__icon-button {
  border: none;
  outline: none;
  background-color: white;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  border: 2px solid black;
  background-color: white;

}

.button__text {
  display: flex;
  align-content: center;
  font-family: var(--accent-font), Arial, sans-serif;
  justify-content: center;
  font-size: 14px;
}
